<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />

    <!-- CDN link used below is compatible with this example -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>Pokemon TCG Card</title>
    <style>
      * {
        font-family: "Roboto", sans-serif;
      }
      body {
        background-image: url("https://source.unsplash.com/1280x720?white");
        background-size: cover;
      }
    </style>
  </head>

  <body>
    <section id="header">
      <div class="container mb-3 mt-5">
        <div class="row justify-content-center">
          <div class="col-md-5">
            <h4 class="text-center">Pokemon TCG Card Finder</h4>
          </div>
        </div>
      </div>
    </section>

    <!-- Use the custom-select class -->
    <section id="search">
      <div class="container mt-3">
        <div class="row justify-content-center">
          <div class="col-md-5">
            <form action="/search" method="POST">
              <select
                class="selectpicker shadow show-tick form-control"
                data-live-search="true"
                data-max-options="5"
                title="Search Pokemon Name..."
                data-style="btn-secondary"
                name="search"
                data-size="10"
                data-width="100%"
              >
                <% if (locals.inputs) { %> <% inputs.forEach(card => { %> <% let
                pokemonName = card.name; %> <% let pokemonId = card.id %>
                <option value="<%= pokemonId%>">
                  <%= pokemonName.trim().substring(0,32)+".." %>
                </option>
                <% }); %> <% } else { %>
                <option disabled>Server side error getting cards!</option>
                <%}%>
              </select>
              <input
                type="submit"
                value="Search"
                class="btn btn-secondary btn-block mt-3"
              />
            </form>
          </div>
        </div>
      </div>
    </section>

    <section id="card">
      <div class="container mt-3 mb-5">
        <div class="row justify-content-center">
          <div class="col-md-5">
            <div class="card bg-light text-dark shadow">
              <div class="card-body">
                <% if (locals.card) { %>
                <img
                  src="<%= card.image %>/high.png"
                  alt="card"
                  class="img-fluid"
                />
                <% } else { %>
                <img
                  src="https://source.unsplash.com/600x825?color"
                  alt="card"
                  class="img-fluid"
                />
                <%}%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="footer" class="fixed-bottom">
      <div class="container mt-3">
        <div class="row justify-content-center">
          <div class="col-md-5">
            <p class="text-center">
              Made by
              <a href="https://github.com/ralfzzz" class="badge badge-primary"
                >Ralfzz</a
              >
            </p>
          </div>
        </div>
      </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
  </body>
</html>
